$colors: (
  neutral: (
    100: #fcfaf9,
    400: gray,
    900: #191826,
  ),
  primary: (
    400: #fa7453,
    500: hsla(33, 100%, 70%, 1),
  ),
  accent: (
    400: hsla(177, 68%, 64%, 1),
  ),
);
